@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,100,700);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
  font-family: Roboto, sans-serif;
  background: white;
}

#widget-table {
  background-color: #00acc1;
  height: 200px;
}
